p { 
  margin:0 
}
.content.disabled {
  display: none;
  pointer-events: none;
}

.CornerText{
  font-family: "Indie Flower";
  font-size: 2.5vw;
  position: fixed; 
	top: 3vw; 
	left: 4vw; 
  text-align: center;

  @media (max-width: 600px) {
    font-size: 4vw; /* Adjust the width for smaller screens */
  }
}

.CornerTextTwo{
  font-family: "Indie Flower";
  font-size: 2.5vw;
  position: fixed; 
	top: 3vw; 
	right: 4vw; 
  text-align: center;

  @media (max-width: 600px) {
    font-size: 4vw; /* Adjust the width for smaller screens */
  }
}


.Logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.Logo img{
  width: 40%;
  height: auto;;
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.4));
  @media (max-width: 600px) {
    width: 90%;
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
  margin: 0 auto;
  @media (max-width: 600px) {
    width: 90%;
  }
}

.easyBox,.mediumBox,.hardBox {
  flex: 1;
  height: 15vw;
  justify-content: center;
  align-items: center;
  font-family: "Indie Flower";
  font-size: 4vw;
  color: dimgrey;
  border: none;
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.4));
  cursor: pointer;
  @media (max-width: 600px) {
    font-size: 25px;
    height: 200px;
  }
  
}
.easyBox {
  background-color: lightgreen;
  margin-right: 70px;
  @media (max-width: 600px) {
    margin-right: 10px;
  }
}
.easyBox:hover {
  background-color: rgb(210, 255, 210);
}

.mediumBox {
  background-color: khaki;
}
.mediumBox:hover {
  background-color: rgb(255, 248, 189);
}

.hardBox {
  background-color: lightcoral;
  margin-left: 70px;
  @media (max-width: 600px) {
    margin-left: 10px;
  }
}
.hardBox:hover {
  background-color: rgb(255, 187, 187);
}