p { 
  margin:0 
}
* {
  font-family: "Indie Flower";
}

.Home{
  display: true;
}

.CornerText,.CornerTextTwo,.CornerTextThree{
  font-size: 2.5vw;
  position: fixed; 
  text-align: center;
  @media (max-width: 600px) {
    font-size: 4vw; /* Adjust the width for smaller screens */
  }
}
.CornerText{
	top: 3vw; 
	left: 4vw; 
}

.CornerTextTwo{
  color: mediumaquamarine;
	top: 14vw; 
	right: 20vw; 
  transform: rotate(-15deg);
  @media (max-width: 600px) {
    top: 25vw; 
	  right: 12vw; 
  }
}
.CornerTextThree{
  color: cornflowerblue;
	top: 20vw; 
	left: 14vw; 
  transform: rotate(8deg);
  @media (max-width: 600px) {
    top: 18vw; 
	  left: 7vw; 
  }
}

.questionBox{
  position: fixed;
  top: 3vw;
  right: 4vw;
  height: 4vw;
  width: 4vw;
  font-size: 3vw;
  align-items: center;
  justify-content: center;
  color: dimgray;
  background-color: rgb(166, 191, 230);
  border: none;
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.4));
  cursor: pointer;
  @media (max-width: 600px) {
    height: 7vw; 
	  width: 7vw; 
  }
}

.Logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.Logo img{
  width: 40%;
  height: auto;;
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.4));
  @media (max-width: 600px) {
    width: 90%;
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
  margin: 0 auto;
  @media (max-width: 600px) {
    width: 90%;
  }
}

.easyBox,.mediumBox,.hardBox {
  flex: 1;
  height: 15vw;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  color: dimgrey;
  border: none;
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.4));
  cursor: pointer;
  @media (max-width: 600px) {
    font-size: 25px;
    height: 200px;
  }
  
}
.easyBox {
  background-color: lightgreen;
  margin-right: 70px;
  @media (max-width: 600px) {
    margin-right: 10px;
  }
}
.easyBox:hover {
  background-color: rgb(210, 255, 210);
}

.mediumBox {
  background-color: khaki;
}
.mediumBox:hover {
  background-color: rgb(255, 248, 189);
}

.hardBox {
  background-color: lightcoral;
  margin-left: 70px;
  @media (max-width: 600px) {
    margin-left: 10px;
  }
}
.hardBox:hover {
  background-color: rgb(255, 187, 187);
}

/* Second Page  */
.secondDiv {
  position: absolute; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.InfoBox {
  display: flex;
  flex-direction: column;
  font-size: 2vw;
  align-items: center;
  justify-content: top;
  width: 70vw;
  height: 40vw;
  background-color: rgb(123, 186, 209);
  border-color: lightgreen;
  border-width: 20px;
  border-style: solid;
  color: white;
  @media (max-width: 600px) {
    width: 90vw;
    height: 90vw;
    font-size: 3.8vw;
  }
}

li{
  margin: 10px 20px;
  @media (max-width: 600px) {
    margin: 0px 0px;
  }
}
.startBox {
  background-color: lightgreen;
  height: 50vw;
  width: 30vw;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
  color: white;
  border: none;
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.4));
  cursor: pointer;
  @media (max-width: 600px) {
    width: auto;
    height: 40vw;
    font-size: 10vw;
  }
}